body
{

background-color: rgb(151, 0, 0);
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
font-size: 18px;
}
h1{

color: gold;
font-size: 600%;
font-family: Bell MT;
}

h2{

color: rgb(168, 121, 0);

}

label{

color: goldenrod;
font-weight: bold;

}

#buscarObra{

border: 2px solid goldenrod;
height: auto;
padding: 20px;
padding-top: 30px; 
background: rgb(151, 0, 0);

}

#resultados
{
    margin-top: 30px;
    border: 2px solid goldenrod;
    height: auto;
    padding: 20px;
    padding-top: 30px; 
    background: rgb(151, 0, 0);   
}

#encabezado
{


display: flex;
justify-content: center;
gap: 20px;

}

h4{

color: goldenrod;

}

#fila
{

    display: flex;
    justify-content: center;
    gap: 20px;
    
width: 100%;
}

#e1{
    width: 20%;
    text-align: center;
}

#e2{
    text-align: center;
    width: 20%;
}

#e3{
    text-align: center;
    width: 20%;
}

#e4{
    text-align: center;
    width: 20%;
}

#e5{

width: 20%;

text-align: center;
}


#f1,#f2,#f3,#f4,#f5{
    width: 20%;
text-align: center;
color: rgb(214, 180, 95);
}

button{

    background-color:goldenrod;
    color:rgb(173, 0, 0);
    font-weight: bold;
    border: inherit;
    height: 30px;
    width: 100px;
}

#spam{

    position: absolute;
    top: -10px;
    left: 10px;
    background: rgb(151, 0, 0);
    padding: 0 10px;
    color: rgb(255, 0, 0);
    font-weight: bold;
   font-size: 24px;
}
.contenedor {
    position: relative;
    display: inline-block;
    width: 80%;
}

.contenedor2 {
    position: relative;
    display: inline-block;
    width: 80%;
    height: auto;
}

#spam2{

    position: absolute;
    top: 15px;
    left: 10px;
    background: rgb(151, 0, 0);
    padding: 0 10px;
    color: rgb(255, 0, 0);
    font-weight: bold;
   font-size: 24px;

}

#Ptotal,#total{

color :rgb(0, 255, 0);
font-size: 20px;
text-align: center;
}

u{
    text-decoration: underline;
    text-decoration-thickness: 3px; 

}

#titulo{

display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 5%;
}

h2{

margin-top: -4%;    

}

#buscarNUMOBRA{

width: 7%;    

}

#buscarNumbtn{

margin-left: 60%;    

}

#buscarTbtn{

    margin-left: 40.7%;    
    
    }